// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

body {
  background-image: url(../images/b.png);
}

.content {
  width: 944px;
  margin: auto;
  padding: 0 50px 50px 50px;
  background-color: #ffffff;

  position: relative;

  &.content-thin {
    padding: 0;
    width: 1044px;
  }

  &.content-thin-footer {
    padding-bottom: 0px;
  }
}

.no-border-right {
  border-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-margin-left {
  margin-left: 0px !important;
}

.no-margin-right {
  margin-right: 0px !important;
}



// HEADER
.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0px;
  z-index: 9999;

  .header-line {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 95px;

    background-color: #F56515;
  }

  .header-content {
    width: 944px;
    margin: auto;
    padding: 0 50px 0px 50px;

    position: relative;

    .company-name {
      float: left;
      padding-top: 15px;

      .punchline {
        font-family: 'GothamPro', sans-serif;
        font-size: 12px;
        text-align: center;
        color: white;
      }

      .super {
        font-family: 'GothamPro-Black', sans-serif;
        font-size: 60px;
        float: left;
        position: relative;
        bottom: 6px;
        color: white;
      }

      .mall {
        font-family: 'GothamPro', sans-serif;
        font-size: 60px;
        float: right;
        position: relative;
        bottom: 6px;
        color: white;
      }
    }

    .main-menu {
      width: 2000px;
      height: 120px;
      background-color: #19A198;

      position: relative;
      left: 320px;
      top: -20px;

      -webkit-transform: skew(20deg, -0.7deg);
         -moz-transform: skew(20deg, -0.7deg);
           -o-transform: skew(20deg, -0.7deg);

       .main-menu-content {
         -webkit-transform: skew(-20deg, 0.7deg);
         -moz-transform: skew(-20deg, 0.7deg);
         -o-transform: skew(-20deg, 0.7deg);

         position: relative;
         right: 215px;

         .social {
           font-family: 'OpenSans', sans-serif;
           font-size: 14px;
           padding-top: 63px;
           float: left;
           color: #ffffff;
           position: relative;
           left: -110px;

             .facebook{
               width: 23px;
               height: 25px;
               border-radius: 3px;
               background-color: #1D58A2;
               float: left;
               position: relative;
               left: 180px;
               bottom: 2px;
               cursor: pointer;

               .fa-facebook {
                 position: relative;
                 top: 3px;
                 left: 7px;
               }
             }

             .vk {
               width: 23px;
               height: 25px;
               border-radius: 3px;
               background-color: #1B5F8C;
               float: left;
               position: relative;
               left: 188px;
               bottom: 2px;
               cursor: pointer;

               .fa-vk {
                 position: relative;
                 top: 2px;
                 left: 4px;
               }
             }

             .twitter {
               width: 23px;
               height: 25px;
               border-radius: 3px;
               background-color: #00B1E5;
               float: left;
               position: relative;
               left: 196px;
               bottom: 2px;
               cursor: pointer;

               .fa-twitter{
                 position: relative;
                 top: 3px;
                 left: 5px;
               }
             }
         }

         .feedback {
           font-family: 'OpenSans', sans-serif;
           font-size: 14px;
           padding-top: 48px;
           padding-left: 15px;
           float: left;
           color: #ffffff;

           a {
             color: #ffffff;
             text-decoration: none;
             border-bottom: 2px dotted white;
             position: relative;
             bottom: 8px;
             left: 5px;
             cursor: pointer;
           }

           img {
             padding-top: 8px;
           }
         }

         .search {
           padding-top: 50px;
           float: left;
           color: #ffffff;
           padding-left: 30px;

           input {
             border: none;
             padding: 0px;
             padding-left: 10px;
             width: 165px;
             height: 35px;
             font-family: 'OpenSans', sans-serif;
             font-size: 14px;
             color: #000000;
           }

           button {
             float: left;
             width: 43px;
             height: 35px;
             background-color: #F56515;
             border: none;
             cursor: pointer;
             padding: 0px;

             img {
               position: relative;
               top: 2px;
             }
           }
         }
       }
    }
  }
}

// TOP-MENU
.top-menu {
  font-family: 'GothamPro-Medium', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  height: 56px;
  top: -50px;

  margin-top: -40px;


  ul {
    padding: 55px 0px 0px 0px;


    li {
    display: inline;
    border-right: 1px solid #ACACAC;
    padding: 56px 13px 0px 14px;

      a {
        text-decoration: none;
        color: #000000;
      }

      a:hover {
        font-family: 'GothamPro', sans-serif;
        font-size: 16px;
        color: #F66516;
      }
    }
  }
}

// BRANDS
.brands {
  padding: 20px 0 25px 0;
  border-bottom: 1px solid #19A197;

  a {
    text-decoration: none;
    margin: 0 19.5px 0 19px;
    cursor: pointer;
  }

  a:hover {
    border-bottom: 5px solid #19A197;
    padding-bottom: 20px;
  }
}

// INFO-BLOCKS
.info-blocks {
  padding-top: 25px;
  height: 300px;
}

.info-block1 {
  width: 300px;
  height: 332px;
  float: left;
  margin-right: 20px;
  overflow: hidden;

  img {
    position: relative;
    left: -50px;
    top: -90px;
  }

  .text1 {
    font-family: 'GothamPro-Black', sans-serif;
    font-size: 24px;
    color: #ffffff;
    background-color: #7BA730;
    position: relative;
    bottom: 103px;
    height: 104px;
    padding: 25px;
    letter-spacing: 1px;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.info-block2 {
  width: 300px;
  height: 332px;
  float: left;
  margin-right: 20px;
  overflow: hidden;

  img {
    position: relative;
    left: -5px;
    top: -58px;
  }

  .text2 {
    font-family: 'GothamPro-Black', sans-serif;
    font-size: 24px;
    color: #ffffff;
    background-color: #00A8EB;
    position: relative;
    bottom: 71px;
    margin-left: 4px;
    height: 154px;
    padding: 25px 0 0 25px;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

}

.info-block3 {
  width: 300px;
  height: 332px;
  float: left;
  overflow: hidden;

  img {
    position: relative;
    left: -40px;
    top: -12px;
  }

  .text3 {
    font-family: 'GothamPro-Black', sans-serif;
    font-size: 24px;
    color: #ffffff;
    background-color: #ED1B23;
    position: relative;
    bottom: 25px;
    height: 154px;
    padding: 25px;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

#triangle-up1 {
  position: relative;
  bottom: 273px;
  left: 125px;
  z-index: 20;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 16px solid #7BA730;
}

#triangle-up2 {
  position: relative;
  bottom: 266px;
  left: 132px;
  z-index: 20;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 16px solid #00A8EB;
}

#triangle-up3 {
  position: relative;
  bottom: 245px;
  left: 130px;
  z-index: 20;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 16px solid #ED1B23;
}



// FOOTER
.footer {
  width: 990px;
  height: 180px;
  position: relative;
  left: -50px;
}

.round-time {
  width: 46px;
  height: 47px;
  border-radius: 25px;
  background-color: #F56515;
  position: absolute;
  top: 30px;
  left: 50px;


  .watch {
    position: absolute;
    top: 9px;
    left: 9px;
  }
}


.round-gps {
  width: 46px;
  height: 47px;
  border-radius: 25px;
  background-color: #F56515;
  position: absolute;
  top: 90px;
  left: 50px;


  .gps {
    position: absolute;
    top: 9px;
    left: 11px;
  }
}



.about-us {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  float: left;
  padding-left: 20px;
  clear: both;
  color: white;


  ul {
    width: 180px;
    padding-left: 90px;
    padding-top: 20px;

    li {
      list-style-type: none;
      line-height: 2;
    }
  }

  .working-hours {
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted white;
  }
}

.bottom-menu {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  float: left;
  padding-top: 20px;

  ul {
    padding-left: 0px;
    margin-right: 52px;

    li {
      list-style-type: none;
      line-height: 2;
    }

    a {
      color: #000000;
      cursor: pointer;
    }
  }
}

#trapezoid {
  border-bottom: 180px solid #19A197;
  border-right: 50px solid transparent;
  height: 0;
  width: 280px;
}




// CAROUSEL
.jumbotron {
  width: 100%;
  min-width: 1024px;

  position: relative;
  top: 0px;

  .carousel-back-stage {
    height: 400px;
    width: 1044px;
    margin: 0 auto;
    position: absolute;
    background-color: white;
  }

  .carousel {
    margin: 0 auto;

    .panel {
      left: 5px;

      img {
        width: 100%;
        height: 100%;
      }

      &.slick-slide {
        width: 706px;
        height: 352px;

        top: 48px;
        position: relative;

      }

      &.slick-current {
        width: 800px;
        height: 400px;

        opacity: 1;
        top: 0px;

        .highlight {
          display: none;
        }

      }
    }
  }
}

.orange-butt {
  width: 980px;
  height: 58px;

  position: absolute;
  top: 0px;
  left: 30px;

  overflow: hidden;

  .deep {
    width: 1770px;
    height: 760px;
    background: #F46515;
    border-radius: 900px / 400px;

    position: absolute;
    top: -702px;
    left: -390px;

  }
}

.jumbo-nav {
  height: 10px;

  .prev-button {
    background-color: #19A197;
    width: 61px;
    height: 61px;
    border: 2px solid #ffffff;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    position: relative;
    top: -227px;
    left: -7px;

    img {
      position: relative;
      top: 10px;
      left: 15px;
    }
  }

  .next-button {
    background-color: #F56515;
    width: 61px;
    height: 61px;
    border: 2px solid #ffffff;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    position: relative;
    top: -288px;
    left: 885px;

    img {
      position: relative;
      top: 10px;
      left: 22px;
    }
  }

  .dots {
    width: 80px;
    position: relative;
    top: -150px;
    left: 435px;

    ul {
      padding: 0;

      li {
        display: inline;

        button {
          background-color: #ffffff;
          width: 13px;
          height: 13px;
          border: none;
          border-radius: 10px;
          margin: 5px;
          font-size: 1px;
          color: #ffffff;
        }

        &.slick-active {

          button {
            background-color: #F56515;
            border: 3px solid #ffffff;
            height: 17px;
            color: #F56515;
          }
        }
      }
    }
  }
}

.highlight {
  position: absolute;
  width: 706px;
  height: 352px;
  background-image: radial-gradient(circle at 50% 30%, rgba(100,100,100,0) 360px, #AAA 415px);
  background-color: white;
  opacity: 0.8;
}
